

.chart-container {
  margin: auto;
  position: relative;
}

.chart-container div {
  text-align: center;
  position: absolute;
}


.chart-container .title-container {
  background-color:royalblue;
  text-align: center;
  z-index: 2;
}

.chart-container .y-axis {
  left:0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.chart-container .y-axis-step {
  background-color: whitesmoke;
}

.chart-container .data-bar {
  z-index: 1;
  display: flex; /* Use flexbox so we can vertically-align the value divs within each bar.*/
  justify-content: center; /*This line actually vertically-aligns the divs. */
  bottom: 0; /*This line is critical for drawing the bars properly from the bottom up!*/
}

.chart-container .data-bar .data-value {

}
