

.chart-container {
  background-color: rgb(160, 160, 160);
  border: 1px black dashed;
  margin: auto;
  position: relative;
}

.chart-container div {
  background-color:skyblue;
  border: 1px black dashed;
  text-align: center;
  position: absolute;
}


.title-container {
  background-color:royalblue;
  text-align: center;
}

.x-axis {
}

.y-axis {
  left:0;
  transform: rotate(-90deg);
  transform-origin: 0 0;

  font: "Arial";
}

.data-bar {
  z-index: 1;
}
